@charset "UTF-8";

:root {
    --base-color: ;
  --white: rgb(255, 255, 255);
    --base-font: "", sans-serif;
    --base-font-size: 1rem;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: .3s easy-in;
}

*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html, body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    max-height: 100%;
    min-width: 320px;
}

body, table {
    background-color: var(--white);
    color: var(--base-color);
    font-family: Montserrat;
    font-size: 0.88rem;
}

body {
    background-color: var(--white);
}

input, textarea, select, button {
    cursor: pointer;
}

ol, ul {
    list-style-type: none;
}

a, a:focus, img, button {
    border: none;
    outline: none;
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="image"]:focus {
    outline: none;
    outline-width: 0;
    outline-color: transparent;
}

input::-moz-focus-inner {
    border: none;
}

a {
    color: var(--base-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

textarea {
    outline: none;
    resize: none;
}

input[type="text"], input[type="password"] {
    background-color: transparent;
    color: var(--base-color);
    font-family: var(--base-font);
    font-size: var(--base-font-size);
    vertical-align: middle;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #bfbfbf;
}

input[type="checkbox"] {
    opacity: 0;
    vertical-align: middle;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

::-webkit-input-placeholder {
    color: #646464;
}

::-moz-placeholder {
    color: #646464;
}

:-moz-placeholder {
    color: #646464;
}

:-ms-input-placeholder {
    color: #646464 !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

@media print {
    .wrap {
        border: 0;
    }
}

@-ms-viewport {
    width: auto !important;
}

@-moz-document url-prefix() {
    .navigation {
        height: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #ffffff;
    font-size: fontSizeBasic;
    color: fontColor;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1210px;
    min-width: 420px;
    margin: 0 auto;
    padding: 1%;
    position: relative;
}

.header-wrapper {
    margin: 50px  0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu {
    display: -ms-flexbox;
    display: flex;
}

.menu__item {
    padding-right: 4.1%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 33px;
}

.menu__link:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.link-buy__item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}

.link-buy__item:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.header-content {
    position: relative;
    margin: 60px 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 56px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 48px 0 48px 0;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 10% 0 0 0;
    max-width: 100%;
}

.author-course {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.author-info {
    max-width: 490px;
    height: auto;
    position: relative;
}

.link-button {
    display: block;
    width: 286px;
    height: 82px;
    background: #FAC05C;
    border: 1px solid #FAC05C;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    padding: 22px 51px;
}

.link-button:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.link-button_position {
    text-align: right;
    margin: 50px 0 0 0;
    margin-left: auto;
    margin-right: 0em;
}

.logo {
    max-width: 50%;
}

.header-visual {
    max-width: 50%;
}

.header-visual__img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.logo__img {
    width: 100%;
    min-width: 280px;
    margin-bottom: 18%;
}

.logo__img img {
    padding-right: 2%;
    max-width: 100%;
}

.burger {
    width: 100vw;
    height: 100vh;
}

.logo-img-burger {
    max-width: 150px;
    margin-bottom: 20px;
}

.log-header {
    max-width: 100%;
    line-height: 0;
}

.btn-center {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.menu-burger {
    max-width: 30%;
    margin: 0 auto;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.burger-clouse {
    padding-top: 6px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.burger-clouse span {
    display: block;
    width: 100%;
    background-color: black;
    height: 3px;
    position: relative;
}

.burger-clouse span::before, .burger-clouse span::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: black;
    height: 3px;
    left: 0;
}

.burger-clouse span::before {
    top: 20px;
}

.burger-clouse span::after {
    top: 10px;
}

span.active::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
}

span.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    height: 0;
}

span.active::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.scrollNone {
    overflow: hidden;
}

.logo-img-burger_smile {
    width: 50px;
}

.burger-control {
    width: 100%;
    padding: 20px 20px 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}

.burger-wrapper {
    transition: all ease .5s;
    position: fixed;
    display: none;
    top: 0px;
    z-index: 1000;
}

.burger {
    background-color: #ffffff;
}

.menu__item_b {
    padding-bottom: 25%;
}

.menu__item_b a:hover {
    border-bottom: 2px solid #FAC05C;
}

.header-visual__img_bottom {
    width: 100%;
    position: absolute;
    top: -25%;
    left: 0;
    z-index: -1;
}

.header-visual__img_bottom img {
    max-width: 100%;
}

@media (max-width: 1050px) {
    .container {
        max-width: 1050px;
        overflow: hidden;
    }

    .header-visual {
        display: none;
    }

    .logo {
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        max-width: 100%;
    }

    .header-content {
        width: 100%;
    }

    .author-course {
        display: block;
    }

    .author-info {
        max-width: 100%;
        position: relative;
    }

    .subtitle {
        margin: 0;
        padding: 3%;
        color: #FAC05C;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        max-width: 490px;
    }

    .author-info__text {
        padding: 10% 2% 0;
        background: linear-gradient(to right, #ffffff, #22221f);
        -webkit-background-clip: text;
    /* Обрезаем фон по тексту */
        color: #eed3a5a6;
    }
}

@media (max-width: 960px) {
    .burger-wrapper {
        display: block;
    }

    .header-wrapper {
        display: none;
    }
}

@media (max-width: 850px) {
    .author-course {
        margin: 10% 0;
    }

    .author-info {
        max-width: 490px;
        height: auto;
        position: relative;
    }

    .link-button_position {
        margin-left: auto;
        margin-right: 0em;
    }

    .author-info__text {
        padding: 4% 4%;
    }
}

@media (max-width: 680px) {
    .logo {
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        max-width: 100%;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 15%;
    }
}

@media (max-width: 480px) {
    .logo {
        padding: 0 3% 25%;
    }

    .author-info__sub {
        color: #FAC05C;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .author-info__text, .text-position {
        background: none;
        color: #000;
        text-align: justify;
        text-indent: 30px;
    }
    .text-position {
        padding: 4% 4%;
    }
}

.title-position {
    text-align: center;
    margin: 8% 0 50px 0;
}

.description-product {
    width: 100%;
    position: relative;
}

.description-product__item {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 195px;
}

.description-product__number {
    font-size: 163px;
    line-height: 191px;
    color: #FAC05C;
    padding-right: 20px;
}

.description-product__text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
}

.description-product__item_center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}

.description-product__item_right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.train {
    position: relative;
}

.background-img {
    position: absolute;
    top: -450px;
    left: 200px;
    z-index: -2;
}

@media (max-width: 680px) {
    .link-train {
        margin-top: 20px;
    }

    .background-img {
        display: none;
    }
}

.faq {
    margin: 120px 0 0 0;
    position: relative;
}

.background {
    position: absolute;
}

.background_two {
    top: -115px;
    left: -80px;
}

.faq-title {
    margin: 0 0 48px 0;
    text-align: center;
}

.faq-list {
    padding-left: 14.9%;
}

.faq-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin: 48px 0;
    position: relative;
    cursor: pointer;
}

.faq-subtitle::after {
    content: "";
    width: 28px;
    height: 24px;
    position: absolute;
    top: 25%;
    left: 70%;
    background: url(../images/arrowUp.svg) no-repeat;
    background-size: 28px, auto, contain;
}

.faq-subtitle_active {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin: 48px 0;
    position: relative;
}

.faq-subtitle_active::after {
    content: "";
    width: 28px;
    height: 24px;
    position: absolute;
    top: 25%;
    left: 70%;
    background: url(../images/arrow.svg) no-repeat;
    background-size: 28px, auto, contain;
}

.faq-item__content, .subtitle-desription {
    padding-left: 14.9%;
}

.hidden {
    display: none;
}

.background_three {
    z-index: -5;
    top: 40%;
    left: 22%;
}

@media (max-width: 1050px) {
    .faq-subtitle::after {
        content: "";
        left: 87%;
    }

    .faq-subtitle_active::after {
        content: "";
        top: 25%;
        left: 87%;
    }
}

@media (max-width: 850px) {
    .faq-subtitle::after {
        content: "";
        left: 95%;
    }

    .faq-subtitle_active::after {
        content: "";
        top: 25%;
        left: 95%;
    }

    .faq-list {
        padding: 0 2%;
    }

    .background_two {
        width: 100%;
        top: 0;
        left: 0;
    }

    .background_three {
        width: 100%;
        top: 70%;
        left: 0;
    }
}

.gallary {
    position: relative;
    z-index: 5;
}

.gallary__title {
    margin: 100px 0 80px 0;
    text-align: center;
}

.slider-wrraper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider-blokc__active {
    max-width: 600px;
    height: auto;
    margin-bottom: 50px;
    position: relative;
}

.slider-blokc__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.slider-preview {
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.slider-preview__item {
    max-width: 180px;
    margin-right: 20px;
    line-height: 0;
    overflow: hidden;
}

.slider-preview__item:hover {
    box-shadow: 0px 0px 5px 5px #FAC05C;
}

.slider-preview__item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 100%;
}

.slider-preview__item:last-child {
    margin-right: 0;
}

.btn-slider__prev_big, .btn-slider__next_big, .btn-slider__prev_ls, .btn-slider__next_rs {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 48px;
}

.btn-slider__next_big, .btn-slider__next_rs {
    background: url(../images/arrRight.svg) no-repeat;
    top: 50%;
    right: -15%;
}

.btn-slider__prev_big, .btn-slider__prev_ls {
    background: url(../images/arrLeft.svg) no-repeat;
    top: 50%;
    left: -15%;
}

.background_fo {
    top: 10%;
    z-index: -1;
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}

.img-active-wrapper, .active-img-wrapper {
    max-width: 600px;
    max-height: 900px;
    overflow: hidden;
}

.active-img-wrapper {
    max-height: 430px;
}

.slider-line, .line-two {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    transition: all ease .5s;
}

.slider-blokc__img_gallary, .slider-blokc__img_cert {
    width: 100%;
    display: block;
    line-height: 0;
}

.big-slider {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}

.big-slidr__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.slider {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

.slider-preveiw {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1050px) {
    .slider-preview__item {
        max-width: 18%;
    }
}

@media (max-width: 850px) {
    .container {
        max-width: 840px;
        overflow: hidden;
    }

    .slider-preview__item {
        max-width: 18%;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 540px;
        overflow: hidden;
    }

    .slider-preview__item {
        max-width: 16%;
    }
}

.sertificate {
    position: relative;
}

.background_ser {
    top: 20%;
    z-index: -1;
}

.anser {
    position: relative;
}

.background_ans {
    top: 20%;
    left: 10%;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c-video {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
}

.video-wrraper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.video {
    display: block;
    max-width: 560px;
    height: 90vh;
    margin: 0 auto;
}

.footer {
    position: relative;
}

.contacts {
    padding-left: 10%;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    line-height: 33px;
}

.contacts__item {
    margin-top: 20px;
}
@media (max-width: 540px) {
    .contacts__item_pad {
        padding-left: 6%;
    }
}


.inst {
    position: relative;
}

.inst::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20%;
    left: -5%;
    background: url(../images/contacts/ins.svg);
}

.phone {
    position: relative;
}

.phone::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20%;
    left: -5%;
    background: url(../images/contacts/phone.svg);
}

.malito {
    position: relative;
}

.malito::before {
    content: "";
    width: 32px;
    height: 24px;
    position: absolute;
    top: 20%;
    left: -5%;
    background: url(../images/contacts/emai.svg);
}

.link-button__footor {
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.background_footer {
    width: 50%;
    top: -100%;
    left: 20%;
    z-index: -1;
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.person-list {
    margin: 30px auto 0 auto;
    font-family: inherit;
    font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.person-list__item_logo {
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.log-footer {
    max-width: 150px;
}

.webpay-img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.person-list__item {
    padding-bottom: 10px;
}

.person-list__item:first-child {
    padding-bottom: 30px;
}

.person-list__item:last-child {
    padding-bottom: 0;
}

.person-list__item a {
    text-decoration: underline;
    color: #5900ff;
}

.person-list__item a:hover {
    color: #9f75ec;
}

.person-list__item a:active {
    color: #f52020;
}

.form-title {
    text-align: center;
}

.logo-massage {
    max-width: 400px;
    padding-bottom: 10%;
}

.wrraper-thanks {
    max-width: 100%;
}

.text-content {
    max-width: 380px;
    text-align: center;
    margin: 40px  auto;
    font-size: 24px;
    font-family: inherit;
    line-height: 30px;
    border: 1px solid #FAC05C;
    padding: 3% 4%;
}

.wrapper-massage {
    width: 100%;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.buy {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
}

.link-home, .link-ref {
    text-decoration: underline;
    color: #00ff;
}

.link-home:hover, .link-ref:hover {
    color: #9f75ec;
}

.link-home:active, .link-ref:active {
    color: #f52020;
}

.hidden {
    display: none;
}

.wrapper-info {
    margin: 50px auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

article {
    margin-top: 20px;
    font-size: 18px;
}

article h2 {
    margin-bottom: 10px;
}

article p {
    margin-top: 5px;
}

article a {
    text-decoration: underline;
    color: #5900ff;
}

article a:hover {
    color: #9f75ec;
}

article a:active {
    color: #f52020;
}
.person-list__item{
    font-style:normal;
    font-weight: 300;
}